body
{
    background-color: #99738e;
}

.sidebar
{
    height: 100vh;
    background:linear-gradient(rgba(85, 61, 103,.7) , rgba(246, 76, 114,.6)) , url(./Photo/images.jpg) ;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5px 7px 25px #999;
}

.bottom-border
{
    border-bottom: 1px groove #eee;
}

.side
{
    transition: all .4s;
}
.side:hover
{
    background-color: #444;
    border-radius: 10px;
}

.act
{
    background-color: #f44336;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #111;
    transition: all .4s;
}
.act:hover
{
    background-color: #f66436;
    transform: translateY(-2px);
}

.p
{
    padding: 14px;
}

.ser-btn
{
    margin-right: 5px;
    border-radius: 50%;
    padding: 10px 13px;
    transition: all .4s;
}
.ser-btn:hover
{
    background-color: #eee;
    transform: translateY(-2px);
}

.ser-int
{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #999;
    transition: all .4s;
}
.ser-int:focus
{
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}

@media(max-width : 760px)
{
    .top-navbar
    {
        position: static;
    }

    .sidebar
    {
        position: static;
        height: auto;
    }
}

.mycard
{
    background-color:rgba(39, 42, 116, 0.306);
    box-shadow: 1px 2px 5px #000000;
    transition: all .4s;
}
.mycard:hover
{
    box-shadow: 2px 3px 15px #000000;
    transform: translateY(-2px);
}

.taskborder
{
    border-right: 5px solid rgb(78, 0, 130);
}

.mycolor
{
    background-color: #68173296;
}

.tabcolor
{
    background-color: #6802695f;
}

.mycrd
{
    background-color: #a3275096;
}

.newp
{
    background-color: #99738e;
}